@media only screen and (max-width: 768px){
    .bg-image{
        width: 100vw;
        background-size: cover;
        margin-top: 0;
    }
    .updates-body{
        width: 100%;
        padding-top: 0;
    }
    .divide-content{
        border: none;
    }
    .olive-branch-img{
        margin-top: 2em;
        width: 20vw;
    }
    .olive-img{
        width: 50vw;
    }
}