@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General styling */
.form-outline {
    border: 1px solid #262626;
}

/* Center content in forms displaying on 80% width of device */
.form-card{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,0.125);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar styling */
.site-logo {
    height: inherit;
}

.nav-link:hover {
    color: #FFFDE7;
    text-shadow: 1px 1px;
}
span.navbar-toggler-icon{
    color: #FFFDE7;   
}

.navbar-collapse {
    text-align: right;
}

.main-container {
    margin: 0;
    padding: 0;
}

/* Hero image with content in center*/
.bg-image {
    position: relative;
    background-image: url('../images/hero-image.jpg');
    height: 60vh;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-size: cover ;
}

/* Add grey overlay to hero image */
.bg-overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.25);
    top: 0;
    left: 0;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-anchor-tags {
    color: #FFFDE7;
}
.hero-anchor-tags:hover{
    text-decoration: none;
    color: #FFFDE7;
    text-shadow: 1px 1px;
}

.olive-img {
    width: 30vw;
}

/* Set width of update card and center contents */
.update-card{
    border: none;
    width: 50%;
    padding-bottom: 20px;
    border: 1px solid rgba(0,0,0,0.125);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.update-form-card{
    text-align: left;
}

.updates-body{
    width: 50%;
    margin: 0 auto;
    padding: 5px;
}

.title-update-text{
    border: 1px solid #000;
}

.schedule-h4 {
    color: #78c2ad;    
}

.schedule-section{
    width: 70%;
    margin: 0 auto;
}

/* Creates border down center of schedule content */
.divide-content {
    border-right: 1px solid #9b9871;
    margin-bottom: 3em;
    text-align: center;
    bottom: 5px;
}

/* Centers text in wedding schedule section */
.wedding-schedule-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.schedule-icon,
.faq-icon{
    color: #78c2ad;
}

.form-container {
    padding-top: 10px;
    width: fit-content;
    margin: auto;
}

/* Log in and Register Page */
.form-control.login-register-input{
    margin-bottom: 0;
}

.register-h2 {
    color: #9b9871;
    margin-top: 20px;
}

.message-flash {
    margin: 0;
    background-color: #78c2ad;
    color: #FFFDE7;
}

/* add preference page */
.checkbox-label {
    display: inline-block;
    text-align: left;
    width: fit-content;
}

.form-switch {
    padding-left: 0;
}

.additional-text-box {
    border: 1px solid #262626;
    margin-top: 8px;
}

.fa-icon {
    width: fit-content;
}

/* Preference page */ 
.preferences-list {
    width: fit-content;
    margin: 0 auto;
}

.preference-text{
    text-align: left;
}

.list-group-item {
    border: none;
}

.active {
    margin-bottom: 20px;
}

.preference-edit-btn,
.preference-delete-btn {
    margin-top: 25px; 
}

.olive-branch-img {
    margin: 0 auto;
    width: 10vw;
}

/* Edit preferences page */
.guest-form-outline {
    border: none;
}

/* Accommodation page */
.olive-img-accom {
    width: 10vw;
}

.accom-img-right{
    margin-left: 20px;
}

.accom-text{
    text-align: left;
}

.accom-text-right{
    margin-left: 20px;
    text-align: left;
}

/* Footer */ 
.footer-style {
    background-color: #78c2ad;
    display: inline-block;
    position: static;
    margin-top:20px;
}

/* FAQ page */
.faq-section {
    width:80%;
    margin: 0 auto;
}

.faq-question{
    display: grid;
    vertical-align: middle;
}
/* Error 404 & 500 page */
/* Center form and content */
.error-card {
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}