@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Navbar styling */
.navbar {
  padding-top: auto;
  padding-bottom: auto;
  background-color: #FFFDE7;
}

.navbar-brand {
  font-size: unset;
  height: 3.5rem;
}

.nav-link {
    color: #b28729;
}

.nav-link:hover {
    color: #b28729;
    text-shadow: 1px 1px;
}
.site-logo {
    height: 80px;
}

.navbar-collapse {
    text-align: right;
}

.main-container {
    margin: 0;
    padding: 0;
}
/* Hero image*/
.bg-image {
    background-image: url('../images/hero-image.jpg');
    height: 80vh;
    background-size: 100% 100% ;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
}

.hero-anchor-tags {
    color: #b28729;
}
.hero-anchor-tags:hover{
    text-decoration: none;
    color: #FFFDE7;
    text-shadow: 1px 1px;
}

.home-page-logo {
    height: 500px;
}

.schedule-h4 {
    color: #9b9871;    
}


.form-container {
    padding-top: 10px;
    width: fit-content;
    margin: auto;
}

.register-h2 {
    color: #9b9871;
    margin-top: 20px;
}

.register-btn {
    background-color: #9b9871;
    border-color: #9b9871;
}

.message-flash {
    margin: 0;
    background-color: #9b9871;
    color: #FFFDE7;
}

/* add preferences page */
.preferences-form-card {
    border: 1px solid #262626;
    margin-bottom: 50px;
}

.add-preferences-btn {
    background-color: #9b9871;
}

label {
    display: inline-block;
    text-align: left;
}

.form-switch {
    padding-left: 0;
}
.additional-text-box {
    border: 1px solid #262626;
    margin-top: 8px;
}

.fa-icon {
    width: 5em;
}

/* Preferences page */ 
.view-preference-card{
    border: 1px solid #262626;
    margin-bottom: 50px;
}
.preferences-list {
    width: fit-content;
    margin: 0 auto;
}

.active {
    margin-bottom: 20px;
}

.confirm-delete-btn {
    background-color: #9b9871;
    color: #FFFDE7;
}

.list-group-item {
    width: 100%;
    border: none;
    padding: 0;
}

.preference-edit-btn,
.preference-delete-btn {
    margin-top: 25px;
}

/* Footer */ 
.footer-style {
    background-color: #9b9871;
    display: inline-block;
    position: static;
}