{% extends "base.html" %}
{% block content %}

<h1 class="text-center mt-5">Agriturismo Dogana</h1>
<div class="row justify-content-center">
    <div class="col text-center m-4">
        <img src="../static/images/olive.png" 
            class="olive-img-accom" alt="olive branch icon">
    </div>
</div>
<!--Information about accomodation and image-->
<div class="container">
    <div class="row no-gutters justify-content-center accom-content ">
        <div class="col-10 col-lg-5 text-center">
            <h2>Accommodation</h2>
            <p class="accom-text">The property sleeps 60 people in a variety of different buildings.
                The Coach House has 11 apartments of varying sizes with all the amenities you will 
                need for your short stay here. Each apartment has a living room and small kitchenette
                area as well as a shared space where all guests can come together. At the from of the 
                property, there is a beautiful pool with sun beds sit alongside.<br><br>
                The entire property is part of an olive grove and is next door to a vineyard where 
                we will be getting our wine for the wedding.
            </p>
        </div>
        <div class="col-10 col-lg-5">
            <img src="../static/images/lakeTrasimeno.jpg"
                class="img-thumbnail accom-img-right" alt="picture of lake">
        </div>
    </div>
    <!--Reorder text and image about Local Area for mobile view-->
    <div class="row no-gutters justify-content-center area-content mt-5">
        <div class="col-10 col-lg-5 order-2 order-lg-1">
            <img src="../static/images/umbria.jpg"
                class="img-thumbnail accom-img-left" alt="picture of old italian house">
        </div>
        <div class="col-10 col-lg-5 text-center ml-20 order-1 order-lg-2">
            <h2>Local Area</h2>
            <p class="accom-text-right">The property sleeps 60 people in a variety of different buildings.
                The Coach House has 11 apartments of varying sizes with all the amenities you will 
                need for your short stay here. Each apartment has a living room and small kitchenette
                area as well as a shared space where all guests can come together. At the from of the 
                property, there is a beautiful pool with sun beds sit alongside.<br><br>
                The entire property is part of an olive grove and is next door to a vineyard where 
                we will be getting our wine for the wedding.
            </p>
        </div>

    </div>
    <!--Information about things to do in the area-->
    <div class="row no-gutters justify-content-center accom-content mt-5">
        <div class="col-10 col-lg-5 text-center">
            <h2>Things To Do</h2>
            <p class="accom-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae nulla 
                et quam eleifend vehicula. Nullam vestibulum risus quis massa dapibus fringilla. 
                Vivamus consectetur eget purus a feugiat. Donec et ullamcorper lorem, at sollicitudin 
                quam. In scelerisque at lectus eget pulvinar. Suspendisse sed vehicula eros, sit amet 
                fermentum justo. Cras pellentesque, urna eget molestie aliquam, elit ex bibendum mauris, 
                id fringilla turpis dolor eu felis. Nullam ac leo luctus, convallis tortor at, eleifend ligula. 
                Sed at arcu sed risus ultricies ultricies. Nulla arcu neque, egestas non erat in, semper dignissim 
                mi. Praesent elit dui, sagittis vel dui a, maximus mollis sapien. Aenean risus lacus, porta 
                quis magna sit amet, egestas vulputate nibh.
            </p>
        </div>
        <div class="col-10 col-lg-5">
            <img src="../static/images/vineyard.jpg"
                class="img-thumbnail accom-img-right" alt="picture of vineyard">
        </div>
    </div>
</div>

{% endblock %}