{% extends "base.html" %}
{% block content %}

<h1 class="text-center mt-3">Agriturismo Dogana</h1>
<div class="row justify-content-center">
    <div class="col text-center m-4">
        <img src="../static/images/olive.png" class="olive-img-accom" alt="olive branch icon">
    </div>
</div>

<div class="container">
    <!--Information about accomodation -->
    <div class="row no-gutters justify-content-center accom-content ">
        <div class="col-10 col-lg-5 text-center">
            <h2>Accommodation</h2>
            <p class="accom-text">The property sleeps 60 people in a variety of different buildings.
                The Coach House has 11 apartments of varying sizes with all the amenities you will
                need for your short stay here. Each apartment has a living room and small kitchenette
                area as well as a shared space where all guests can come together. At the from of the
                property, there is a beautiful pool with sun beds sit alongside.<br><br>
                The entire property is part of an olive grove and is next door to a vineyard where
                we will be getting our wine for the wedding.
            </p>
        </div>
        <!--image of the area-->
        <div class="col-10 col-lg-5">
            <img src="../static/images/lakeTrasimeno.jpg" class="img-thumbnail accom-img-right" alt="picture of lake">
        </div>
    </div>

    <div class="row no-gutters justify-content-center area-content mt-5">
    <!--Reorder text and image about Local Area for mobile view-->
        <div class="col-10 col-lg-5 order-2 order-lg-1">
            <img src="../static/images/umbria.jpg" class="img-thumbnail accom-img-left"
                alt="picture of old italian house">
        </div>
        <div class="col-10 col-lg-5 text-center ml-20 order-1 order-lg-2">
            <h2>Local Area</h2>
            <p class="accom-text-right">La Dogana is located beside Lake Trasimeno in the province of Perugia,
                in the Umbria region of Italy on the border with Tuscany. The venue is close to the lovely towns
                of Passignano, Cortona and Tuoro sul Trasimeno. These are all easily accesible by car or there
                are local buses running every hour from the gate of the property<br><br>
                There are three islands on Lake Trasimeno; Maggiore, Minore and Polvese, each of which are
                accessible by ferry.

            </p>
        </div>

    </div>
    <!--Information about things to do in the area-->
    <div class="row no-gutters justify-content-center accom-content mt-5">
        <div class="col-10 col-lg-5 text-center">
            <h2>Things To Do</h2>
            <p class="accom-text">You definitely won't be stuck for things to do here in your downtime.
                There is wine tasting available in the neighbouring vineyard which is only a 15 minute
                walk away. Horse riding is another option that can be organised by La Dogana in Tuscany
                across the Cortona hills. There are boat trips each day to the islands on Trasimeno Lake.
                Magiore Island is the biggest of the three islands with some shops and an old church to
                visit.<br><br>
                There is a supermarket located 2km from the accomodation and plenty of restaurants and
                cafes in the neighbouring towns.
            </p>
        </div>
        <div class="col-10 col-lg-5">
            <img src="../static/images/vineyard.jpg" class="img-thumbnail accom-img-right" alt="picture of vineyard">
        </div>
    </div>
</div>

{% endblock %}