<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/sandstone/bootstrap.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="static/css/responsive.css" type="text/css">
    {% block styles %}
    {% endblock %}

    <title>Wedding App</title>
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-fixed-top shadow-1 border-bottom border-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#!"><img src="{{ url_for('static', filename='images/siteLogo.png') }}"
                        class="site-logo" alt="site logo"></a>
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto ">
                        <li class="nav-item ">
                            <a class="nav-link " href="{{ url_for('home') }}">Home</a>
                        </li>
                        {% if session.user %}

                        <li class="nav-item">
                            <a class="nav-link " href="{{ url_for('accommodation') }}">Accommodation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#!">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{{ url_for('get_guest_info') }}">Preferences</a>
                        </li>
                        {% if session.is_admin %}
                        <li class="nav-item">
                            <a class="nav-link " href="{{ url_for('update') }}">Add Update</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link " href="{{ url_for('logout') }}">Log Out</a>
                        </li>
                        {% else %}
                        <li class="nav-item"></li>
                        <a class="nav-link " href="{{ url_for('login') }}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{{ url_for('register') }}">Register</a>
                        </li>
                        {% endif %}


                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar -->
    </header>

    <section>
        <!--flash messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="message-flash text-center">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <main>

        {% block content %}
        {% endblock %}
    </main>
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <img src="../static/images/oliveBranch.png" class="olive-branch-img">
        </div>
    </div>
    <footer class=" footer text-center text-white fixed-bottom footer-style w-100">
        <!-- Grid container -->
        <div class="container"></div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">Helen Shiel</a>
        </div>
        <!-- Copyright -->
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}

</body>

</html>