<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.2/sandstone/bootstrap.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css" type="text/css" />

    <!--Import Bootwatch Mint theme-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css"
        integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">


    <!--Import custom css files-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}" type="text/css">


    <!--Import Favicon-->
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">

    {% block styles %}
    {% endblock %}

    <title>Wedding App</title>
</head>

<body>
    <header>
        <!-- Navbar -->

        <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
            <div class="container-fluid nav-container">
                <a class="navbar-brand" href="{{ url_for('home') }}">E&D</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Different Navbar links visible to different types of users depending if logged in or not, or if Admin User-->
                <div class="navbar-collapse collapse" id="navbarColor01" style="color:blanchedalmond">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('home') }}">Home
                            </a>
                        </li>
                        {% if session.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('accommodation') }}">Accommodation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('faq') }}">FAQ</a>
                        </li>
                        <!--Links to different preferences page to logged in user and admin user -->
                        {% if not session.is_admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('get_guest_info') }}">Preferences</a>
                        </li>
                        {% endif %}
                        {% if session.is_admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('view_preferences') }}">Preferences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('update') }}">Update</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <main>
        <!--flash messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="message-flash text-center">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
   
        {% block content %}
        {% endblock %}
    </main>
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <img src="../static/images/oliveBranch.png" class="olive-branch-img" alt="olive branch image">
        </div>
    </div>

    <footer class=" footer text-center text-white footer-style w-100">
        <!-- Grid container -->
        <div class="container"></div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3">
            © 2021 Copyright: Helen Shiel
        </div>
        <!-- Copyright -->
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    {% block scripts %}
    {% endblock %}

</body>

</html>