{% extends "base.html" %}
{% block content %}

<div class="card form-card">
    <h2 class="register-h2 text-center">Edit Update</h2>
    <div class="row p-5 text-center">
        <form class="form-container justify-content-center" method="POST"
            action="{{ url_for('edit_update', update_id=update._id ) }}">
            <!-- Date arrival picker -->
            <div class="row ">
                <div class="col-12">
                    <label for="date"> Edit Date
                        <input id="date" name="date" type="date" class="datepicker validate" value="{{ update.date }}"
                            required>
                    </label>
                </div>
            </div>

            <!-- Text input -->
            <div class="form-outline additional-text-box mb-4">
                <textarea class="form-control active" id="title" name="title" rows="1" maxlength="100">
                        {{- update.title -}}</textarea>
                <label class="form-label" for="title">Edit Title
                </label>
            </div>

            <!-- Text input -->
            <div class="form-outline additional-text-box mb-4">
                <textarea class="form-control active" id="description" name="description" rows="4" maxlength="300">
                        {{- update.description -}}</textarea>
                <label class="form-label" for="description">Edit Description
                </label>
            </div>

            <!--Cancel button-->
            <div class="row">
                <div class="col-6 ">
                    <a href="{{ url_for('home') }}" class="btn btn-info">
                        Cancel
                    </a>
                </div>

                <!-- Edit button -->
                <div class="col-6">
                    <button type="submit" class="btn btn-primary  ">
                        Edit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}