{% extends "base.html" %}
{% block content %}

<div class="card form-card">
    <h2 class="register-h2 text-center">Edit Preferences</h2>
    <div class="card-body">
        <div class="row text-center">
            <form class="form-container " method="POST"
                action="{{ url_for('edit_preference', guest_info_id=guest_info._id) }}">
                <!-- select number of party -->
                <div class="form-outline guest-form-outline">
                    <div class="row mb-4">
                        <div class="col-7 col-lg-4 text-start">
                            <i class="fas fa-users fa-icon"> Number of Guests</i>
                        </div>
                        <div class="col-1 text-end">
                            <select id="number_of_party" name="number_of_party" class="validate" required>
                                <option value="">Select</option>
                                <!--Create for loop to create values of 1-5 to choose from-->
                                {% for n in range(1, 6) %}
                                    <option value="{{n}}" {% if guest_info.number_of_party == (n|string) %} selected {% endif %}>{{n}}</option>
                                {% endfor %}                                
                            </select>
                        </div>
                    </div>
                </div>
                <!-- require accomodation field-->
                <div class="form-outline guest-form-outline">
                    <div class="form-check form-switch">
                        <div class="row mb-4">
                            <div class="col-8 col-lg-3 text-start">
                                <i class="fas fa-bed fa-icon"> Accomodation</i>
                            </div>
                            <div class="col-4 text-end">
                                {% if guest_info.require_accommodation == "Yes" %}
                                <input class="form-check-input" type="checkbox" id="require_accommodation"
                                    name="require_accommodation" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="require_accommodation2"
                                    name="require_accommodation" />
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Dietary requirements field-->
                <div class="form-outline guest-form-outline">

                    <div class="form-check form-switch">
                        <div class="row mb-4 mt-4">
                            <div class="col-8 col-lg-3 text-start">
                                <i class="fas fa-utensils fa-icon"> Dietary Needs?</i>
                            </div>
                            <div class="col-4 text-end">
                                {% if guest_info.dietary_restrictions == "Yes" %}
                                <input class="form-check-input" type="checkbox" id="dietary_restrictions"
                                    name="dietary_restrictions" value="{{ guest_info.dietary_restrictions }}" checked />
                                {% else %}
                                <input class="form-check-input" type="checkbox" id="dietary_restrictions2"
                                    name="dietary_restrictions" value="{{ guest_info.dietary_restrictions }}" />
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Text input -->
                <div class="form-outline additional-text-box mb-4 mt-4">
                    <textarea class="form-control active" id="dietary_restrictions_description"
                        name="dietary_restrictions_description" rows="2" maxlength="100">
                        {{- guest_info.dietary_restrictions_description -}}</textarea>
                    <label class="form-label" for="dietary_restrictions_description">Details on dietary
                        restrictions
                    </label>
                </div>

                <!-- Date arrival picker -->
                <div class="row mb-4">
                    <div class="col-4 text-start">
                        <i class="far fa-calendar-check fa-icon">Arrival </i>
                    </div>
                    <div class="col-4 p-0">
                        <label for="arrival_date">
                            <input id="arrival_date" name="arrival_date" type="date" class="datepicker validate"
                                value="{{ guest_info.arrival_date }}" min="2022-09-05" max="2022-09-11" required>
                        </label>
                    </div>
                </div>

                <!-- Text input -->
                <div class="form-outline additional-text-box mb-4">
                    <textarea class="form-control active" id="add_note" name="add_note" rows="2" maxlength="300">
                    {{- guest_info.add_note -}}</textarea>
                    <label class="form-label" for="add_note">Additional Comments</label>
                </div>

                <!--Cancel button-->
                <div class="row mb-4">
                    <div class="col-6 ">
                        <a href="{{ url_for('get_guest_info') }}" class="btn btn-info">
                            Cancel
                        </a>
                    </div>

                    <!-- Edit button -->
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary btn-block ">
                            Edit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}