{% extends "base.html" %}
{% block content %}

<h1 class="text-center mt-5">FAQs</h1>
<div class="row justify-content-center">
    <div class="col text-center m-4">
        <img src="../static/images/olive.png" 
            class="olive-img-accom" alt="olive branch icon">
    </div>
</div>
<br>
<div class="section faq-section">
    <div class="row schedule-row ">
        <div class="col-lg-6 col-xs-12 m-0 d-flex justify-content-center divide-content">
            <h4 class="mt-10 faq-question">
                <i class="fas fa-question fa-2x m-3 faq-icon"></i>
                
                <br>
                What is the weather usually like in Italy in September?
            </h4>
        </div>
        <div class="col-lg-6 col-xs-12 wedding-schedule-text">

            <h5>
                <i class="far fa-comment fa-2x m-3 faq-icon"></i>
                <br>
                It can vary but the staff at La Dogana have assured me it is 
                usually dry and ranges in temperature from 13-23 degrees Celcius

            </h5>
        </div>
    </div>
    <br>
    <div class="row schedule-row ">
        <div class="col-lg-6 col-xs-12 m-0 d-flex justify-content-center divide-content">
            <h4 class="mt-10 faq-question">
                <i class="fas fa-question fa-2x m-3 faq-icon"></i><br>
                When should I register my preferences by?
            </h4>
        </div>
        <div class="col-lg-6 col-xs-12 wedding-schedule-text">

            <h5>
                <i class="far fa-comment fa-2x m-3 faq-icon"></i>
                <br>
                We know with Covid and with those of you that have kids, planning this far 
                in advance can be difficult. We just ask that you let us know about 6 months 
                before so March 2022 if you can. Hoping as many of you as possible can come!
            </h5>
        </div>
    </div>
    <br>
    <div class="row schedule-row">
        <div class="col-lg-6 col-xs-12 m-0 d-flex justify-content-center text-center divide-content">
            <h4 class="mt-10 faq-question">
                
                <i class="fas fa-question fa-2x m-3 faq-icon"></i><br>
                When should I book my travel?
            </h4>
        </div>
        <div class="col-lg-6 col-xs-12 wedding-schedule-text">

            <h5>
                <i class="far fa-comment fa-2x m-3 faq-icon"></i>
                <br>
                Flights tend to go on sale 11 months in advance. Myself and Dave 
                will be keeping an eye on flights and we will keep you all in 
                the loop by adding an update to the site.  

            </h5>
        </div>
    </div>
    <br>
    <div class="row schedule-row">
        <div class="col-lg-6 col-xs-12 m-0 d-flex justify-content-center text-center divide-content">
            <h4 class="mt-10 faq-question">
                
                <i class="fas fa-question fa-2x m-3 faq-icon"></i><br>
                When should we book the accommodation by? 
            </h4>
        </div>
        <div class="col-lg-6 col-xs-12 wedding-schedule-text">

            <h5>
                <i class="far fa-comment fa-2x m-3 faq-icon"></i>
                <br>
                Don't worry about the accommodation. It is our way of 
                showing our appreciation for you coming to our big day! 
                We have booked out the entire property for all our guests 
                so it is one less expense for you to worry about!

            </h5>
        </div>
    </div>
    <br>
    <div class="row schedule-row">
        <div class="col-lg-6 col-xs-12 m-0 d-flex justify-content-center text-center divide-content">
            <h4 class="mt-10 faq-question">
                
                <i class="fas fa-question fa-2x m-3 faq-icon"></i><br>
                Are the ceremony and reception in the same place?
            </h4>
        </div>
        <div class="col-lg-6 col-xs-12 wedding-schedule-text">

            <h5>
                <i class="far fa-comment fa-2x m-3 faq-icon"></i>
                <br>
                Yes, both will be held at La Dogana. They are fully equipped to 
                accommodate weddings up to 100 people. The grounds are absolutely 
                stunning and were exactly what we were looking for!

            </h5>
        </div>
        
    </div>
    <br>
</div>


{% endblock %}