{% extends "base.html" %}
{% block content %}

<!-- Background image -->
<div class="bg-image">
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
        {% if session["user"] %}
        <h5 class="text-white mb-0"> Please Add Your Preferences <a class="hero-anchor-tags" href="{{ url_for('login') }}">Here</a> 
        {% else %}
        <h5 class="text-white mb-0"> Please <a class="hero-anchor-tags" href="{{ url_for('login') }}">Sign in</a> or <br>
            <a class="hero-anchor-tags" href="{{ url_for('register') }}">Register Here</a></h5>
        {% endif %}
    </div>
  </div>
</div>
<!-- Background image -->

<!-- Only allow registered users to view wedding information-->
{% if session["user"] %}
<div class="container-fluid ">
    <div class="row">
        <div class=" col-12 text-center">
            <img class="home-page-logo" src="../static/images/HomePageLogo.png">
        </div>
    </div>
</div>

<div class="section schedule-section">
    <div class="row">
        <div class="col-12 text-center">
            <h4 class="schedule-h4">Wedding Schedule</h4>
        </div>
    </div>

</div>
{% endif %}

{% endblock %}