{% extends "base.html" %}
{% block content %}

<!-- Background image -->
<div class="bg-image">
  <div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
        {% if session["user"] %}
        <h5 class="text-white mb-0"> Please Add Your Preferences <a class="hero-anchor-tags" href="{{ url_for('get_guest_info') }}">Here</a> 
        {% else %}
        <h5 class="text-white mb-0"> Please <a class="hero-anchor-tags" href="{{ url_for('login') }}">Sign in</a> or <br>
            <a class="hero-anchor-tags" href="{{ url_for('register') }}">Register Here</a></h5>
        {% endif %}
    </div>
  </div>
</div>
<!-- Background image -->

<!-- Only allow registered users to view wedding information-->
{% if session["user"] %}
<div class="container-fluid ">
    <div class="row">
        <div class=" col-12 text-center">
            <img class="home-page-logo" src="../static/images/HomePageLogo.png">
        </div>
    </div>
</div>

<div class="section schedule-section">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="schedule-h4">Wedding Schedule</h2>
        </div>
    </div>
    <div class="row schedule-row">
        <div class="col-6 text-center divide-content">
            <h4 class="mt-10">
                Welcome Antipasti <br>
            </h4>
            <h6>
                8th September 2022 <br>
                6:00 PM
            </h6>
        </div>
        <div class="col-6 text-center">
            <i class="fas fa-glass-cheers fa-5x mb-4"></i>
            <h6>
                Agriturismo Dogana <br>
                Tuoro Sul Trasimeno <br>
                Italy<br>
                <br>
                Antipasti and Wine for <br>
                Guest on Arrival

            </h6>
        </div>
    </div>

    <div class="row schedule-row">
        <div class="col-6 text-center divide-content">
            <h4 class="mt-10">
                Wedding Day <br>
            </h4>
            <h6>
                9th September 2022 <br>
                All Day
            </h6>
        </div>
        <div class="col-6 text-center">
            <i class="fas fa-church fa-5x m-4 "></i>
            <h6>
                Brunch at 11 AM <br>
                Ceremony at 4 PM <br>
                Dinner from 6 PM

            </h6>
        </div>
    </div>

</div>
{% endif %}

{% endblock %}