{% extends "base.html" %}
{% block content %}

<div class="card form-card">
    <h2 class="register-h2 text-center">Register</h2>
    <div class="row text-center">
        <form class="form-container justify-content-center" method="POST" action="{{ url_for('register') }}">

            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row ">
                <div class="col-10 offset-1 col-lg-5 mb-2">
                    <div class="form-group">
                        <input type="text" id="firstName" name="firstName" class="form-control 
                            login-register-input " minlength="3" maxlength="20" 
                            placeholder="First name" required />
                    </div>
                </div>
                <div class="col-10 offset-1 col-lg-5 offset-lg-0 mb-2">
                    <div class="form-group">
                        <input type="text" id="lastName" name="lastName" class="form-control 
                            login-register-input " minlength="3" maxlength="20" 
                            placeholder="Last name" required />
                    </div>
                </div>
            </div>

            <!-- Email input -->
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="form-group mb-4">
                        <input type="email" id="email" name="email" class="form-control 
                            login-register-input " minlength="5" maxlength="50" 
                            placeholder="Email address" required />
                    </div>
                </div>
            </div>

            <!-- Password input -->
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="form-group mb-4">
                        <input type="password" id="password" name="password" class="form-control 
                            login-register-input " minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                            placeholder="Password" required />
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn register-btn btn-primary mb-4 justify-content-center">
                Register

            </button>

        </form>
    </div>

    <!-- Direct to Register.html-->
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <p>Already registered? <a href="{{ url_for('login') }}">Log In <i class="fas fa-sign-in-alt"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}