{% extends "base.html" %}
{% block content %}
<div class="card update-card form-card">
    <h2 class="register-h2 text-center">Add Update</h2>
    <div class="row p-5 text-center">
        <form class="form-container justify-content-center" method="POST" action="{{ url_for('add_update') }}">
            <!-- Date arrival picker -->
            <div class="row ">
                <div class="col-12 text-start">
                    <label for="date"> Date
                        <input id="date" name="date" type="date" class="datepicker update-datepicker validate" required>
                    </label>
                </div>
            </div>

            <!-- Text input -->
            <div class="form-outline additional-text-box mb-4">
                <textarea class="form-control" id="title" name="title" rows="1" maxlength="100"></textarea>
                <label class="form-label" for="title">Title
                </label>
            </div>

            <!-- Text input -->
            <div class="form-outline additional-text-box mb-4">
                <textarea class="form-control" id="description" name="description" rows="4" maxlength="300"></textarea>
                <label class="form-label" for="description">Description
                </label>
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block ">
                Add Update
            </button>

        </form>
    </div>
</div>



{% endblock %}